* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quintessential', cursive;
  letter-spacing: 1px;
}

body {
  color: #fff;
}

.main {
  height: 100vh;
  background-image: url(img/staff1.png);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  align-items: center;
}

.inner-main {
  width: 820px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  border-radius: 10px;
}

.msg {
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

.start {
  width: 100%;
}

.start .btn-start {
  background-color: rgb(251, 255, 0);
  display: block;
  margin: 100px auto 0 auto;
}

.start .btn:hover {
  background-color: rgb(255, 145, 0);
}

.question {
  width: 100%;
  margin-top: 20px;
}

.question h1 {
  text-align: center;
}

.options {
  width: 100;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.btn-option {
  background-color: rgb(251, 255, 0);
  width: 400px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-option:hover {
  background-color: rgb(255, 145, 0);
}

.btn {
  width: 130px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
